<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Blank
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openInfo()">
        <ion-icon slot="icon-only" name="help-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button expand="block" [routerLink]="['/about']">Use RouterLink</ion-button>
  <ion-button expand="block" (click)="goToAbout()">Use TS Router</ion-button>

  <ion-item *ngIf="rowClicked">
    <p>You clicked {{ rowClicked }}</p>
  </ion-item>

</ion-content>
